/* Контейнер */

/* One */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  
  @include md {
    max-width: unset;
    // padding: 0 20px;
    padding: 0;
  }
  @include sm {
    padding: 0;
  }
}