@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

/* Контейнер */
/* One */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
@media all and (max-width: 1024px) {
  .container {
    max-width: unset;
    padding: 0;
  }
}
@media all and (max-width: 767px) {
  .container {
    padding: 0;
  }
}

@font-face {
  font-family: "Rostelecom Basis";
  font-style: normal;
  font-weight: 700;
  src: local("Rostelecom Basis"), url(../fonts/RostelecomBasis-Bold.woff2), url(../fonts/RostelecomBasis-Bold.woff), url(../fonts/RostelecomBasis-Bold.otf);
}
@font-face {
  font-family: "Rostelecom Basis";
  font-style: normal;
  font-weight: 500;
  src: local("Rostelecom Basis"), url(../fonts/RostelecomBasis-Medium.woff2), url(../fonts/RostelecomBasis-Medium.woff), url(../fonts/RostelecomBasis-Medium.otf);
}
@font-face {
  font-family: "Rostelecom Basis";
  font-style: normal;
  font-weight: 400;
  src: local("Rostelecom Basis"), url(../fonts/RostelecomBasis-Regular.woff2), url(../fonts/RostelecomBasis-Regular.woff), url(../fonts/RostelecomBasis-Regular.otf);
}
@font-face {
  font-family: "Rostelecom Basis";
  font-style: normal;
  font-weight: 300;
  src: local("Rostelecom Basis"), url(../fonts/RostelecomBasis-Light.woff2), url(../fonts/RostelecomBasis-Light.woff), url(../fonts/RostelecomBasis-Light.otf);
}
html {
  --object-day-black-100: #101828;
  --object-day-black-70: #101828B2;
  --object-day-black-50: #868B95;
  --states-orange-hovered: #D33706;
  --states-orange-Pressed: #B12F01;
  --object-night-white-100: #FFFFFF;
}

.font-h2 {
  font-family: "Rostelecom Basis";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  color: var(--object-day-black-100);
}
@media all and (max-width: 1024px) {
  .font-h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media all and (max-width: 767px) {
  .font-h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

.font-h3 {
  font-family: "Rostelecom Basis";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: var(--object-day-black-100);
}
@media all and (max-width: 1024px) {
  .font-h3 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media all and (max-width: 767px) {
  .font-h3 {
    font-size: 22px;
    line-height: 28px;
  }
}

.font-h4 {
  font-family: "Rostelecom Basis";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: var(--object-day-black-100);
}
@media all and (max-width: 1024px) {
  .font-h4 {
    font-size: 20px;
    line-height: 24px;
  }
}
@media all and (max-width: 767px) {
  .font-h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

.font-t-l {
  font-family: "Rostelecom Basis";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--object-day-black-100);
}
@media all and (max-width: 1024px) {
  .font-t-l {
    font-size: 16px;
    line-height: 24px;
  }
}

.font-t-m {
  font-family: "Rostelecom Basis";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--object-day-black-100);
}
@media all and (max-width: 767px) {
  .font-t-m {
    font-size: 14px;
    line-height: 20px;
  }
}

.font-h-l {
  font-family: "Rostelecom Basis";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--object-day-black-100);
}
@media all and (max-width: 1024px) {
  .font-h-l {
    font-size: 16px;
    line-height: 20px;
  }
}

.font-h-m {
  font-family: "Rostelecom Basis";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--object-day-black-100);
}
@media all and (max-width: 767px) {
  .font-h-m {
    font-size: 14px;
    line-height: 16px;
  }
}

.font-t-s {
  font-family: "Rostelecom Basis";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--object-day-black-100);
}

.font-t-xs {
  font-family: "Rostelecom Basis";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: var(--object-day-black-100);
}

.color--black-100 {
  color: var(--object-day-black-100);
}

.color--black-70 {
  color: var(--object-day-black-70);
}

.color--black-50 {
  color: var(--object-day-black-50);
}

.color--white {
  color: var(--object-night-white-100);
}

.color--orange {
  color: var(--states-orange-hovered);
}

.link--orange {
  color: var(--states-orange-hovered);
  cursor: pointer;
}

.sp-t-orange {
  padding-top: 80px;
}
@media all and (max-width: 1024px) {
  .sp-t-orange {
    padding-top: 64px;
  }
}
@media all and (max-width: 767px) {
  .sp-t-orange {
    padding-top: 40px;
  }
}

.sp-b-orange {
  padding-bottom: 80px;
}
@media all and (max-width: 1024px) {
  .sp-b-orange {
    padding-bottom: 64px;
  }
}
@media all and (max-width: 767px) {
  .sp-b-orange {
    padding-bottom: 40px;
  }
}

.sp-v-orange {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media all and (max-width: 1024px) {
  .sp-v-orange {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media all and (max-width: 767px) {
  .sp-v-orange {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.sp-v-dark-purple {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media all and (max-width: 1024px) {
  .sp-v-dark-purple {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media all and (max-width: 767px) {
  .sp-v-dark-purple {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.sp-t-green {
  padding-top: 64px;
}
@media all and (max-width: 1024px) {
  .sp-t-green {
    padding-top: 48px;
  }
}
@media all and (max-width: 767px) {
  .sp-t-green {
    padding-top: 40px;
  }
}

.sp-b-green {
  padding-bottom: 64px;
}
@media all and (max-width: 1024px) {
  .sp-b-green {
    padding-bottom: 48px;
  }
}
@media all and (max-width: 767px) {
  .sp-b-green {
    padding-bottom: 40px;
  }
}

.sp-v-green {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media all and (max-width: 1024px) {
  .sp-v-green {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media all and (max-width: 767px) {
  .sp-v-green {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.sp-t-purple {
  padding-top: 40px;
}
@media all and (max-width: 1024px) {
  .sp-t-purple {
    padding-top: 40px;
  }
}
@media all and (max-width: 767px) {
  .sp-t-purple {
    padding-top: 32px;
  }
}

.sp-b-purple {
  padding-bottom: 40px;
}
@media all and (max-width: 1024px) {
  .sp-b-purple {
    padding-bottom: 40px;
  }
}
@media all and (max-width: 767px) {
  .sp-b-purple {
    padding-bottom: 32px;
  }
}

.sp-v-purple {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media all and (max-width: 1024px) {
  .sp-v-purple {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media all and (max-width: 767px) {
  .sp-v-purple {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.sp-t-mint {
  padding-top: 32px;
}
@media all and (max-width: 1024px) {
  .sp-t-mint {
    padding-top: 32px;
  }
}
@media all and (max-width: 767px) {
  .sp-t-mint {
    padding-top: 28px;
  }
}

.sp-b-mint {
  padding-bottom: 32px;
}
@media all and (max-width: 1024px) {
  .sp-b-mint {
    padding-bottom: 32px;
  }
}
@media all and (max-width: 767px) {
  .sp-b-mint {
    padding-bottom: 28px;
  }
}

.sp-v-mint {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media all and (max-width: 1024px) {
  .sp-v-mint {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media all and (max-width: 767px) {
  .sp-v-mint {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.sp-t-red {
  padding-top: 28px;
}
@media all and (max-width: 1024px) {
  .sp-t-red {
    padding-top: 24px;
  }
}
@media all and (max-width: 767px) {
  .sp-t-red {
    padding-top: 24px;
  }
}

.sp-b-red {
  padding-bottom: 28px;
}
@media all and (max-width: 1024px) {
  .sp-b-red {
    padding-bottom: 24px;
  }
}
@media all and (max-width: 767px) {
  .sp-b-red {
    padding-bottom: 24px;
  }
}

.sp-v-red {
  padding-top: 28px;
  padding-bottom: 28px;
}
@media all and (max-width: 1024px) {
  .sp-v-red {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media all and (max-width: 767px) {
  .sp-v-red {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.sp-t-yellow {
  padding-top: 20px;
}
@media all and (max-width: 1024px) {
  .sp-t-yellow {
    padding-top: 20px;
  }
}
@media all and (max-width: 767px) {
  .sp-t-yellow {
    padding-top: 20px;
  }
}

.sp-b-yellow {
  padding-bottom: 20px;
}
@media all and (max-width: 1024px) {
  .sp-b-yellow {
    padding-bottom: 20px;
  }
}
@media all and (max-width: 767px) {
  .sp-b-yellow {
    padding-bottom: 20px;
  }
}

.sp-v-yellow {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media all and (max-width: 1024px) {
  .sp-v-yellow {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media all and (max-width: 767px) {
  .sp-v-yellow {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.sp-t-light-blue {
  padding-top: 16px;
}
@media all and (max-width: 1024px) {
  .sp-t-light-blue {
    padding-top: 16px;
  }
}
@media all and (max-width: 767px) {
  .sp-t-light-blue {
    padding-top: 12px;
  }
}

.sp-b-light-blue {
  padding-bottom: 16px;
}
@media all and (max-width: 1024px) {
  .sp-b-light-blue {
    padding-bottom: 16px;
  }
}
@media all and (max-width: 767px) {
  .sp-b-light-blue {
    padding-bottom: 12px;
  }
}

.sp-v-light-blue {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media all and (max-width: 1024px) {
  .sp-v-light-blue {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media all and (max-width: 767px) {
  .sp-v-light-blue {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sp-t-blue {
  padding-top: 12px;
}
@media all and (max-width: 1024px) {
  .sp-t-blue {
    padding-top: 12px;
  }
}
@media all and (max-width: 767px) {
  .sp-t-blue {
    padding-top: 8px;
  }
}

.sp-b-blue {
  padding-bottom: 12px;
}
@media all and (max-width: 1024px) {
  .sp-b-blue {
    padding-bottom: 12px;
  }
}
@media all and (max-width: 767px) {
  .sp-b-blue {
    padding-bottom: 8px;
  }
}

.sp-v-blue {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media all and (max-width: 1024px) {
  .sp-v-blue {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media all and (max-width: 767px) {
  .sp-v-blue {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.rt-link--orange {
  color: #FF4F12;
}
.rt-link--orange:hover {
  color: #D33706;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: #F3F3F4;
}

.page-shadow {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 40, 0.5019607843);
}

.page-shadow-active {
  z-index: 1;
  opacity: 1;
}

.popup {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 16%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 994px;
  padding-left: 20px;
  padding-right: 20px;
}
@media all and (max-width: 1024px) {
  .popup {
    top: 20%;
  }
}
@media all and (max-width: 767px) {
  .popup {
    top: 16%;
  }
}
.popup__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: url("/image/popup_close.svg") no-repeat center;
  cursor: pointer;
}
.popup__close:hover {
  background: url("/image/popup_close-hover.svg") no-repeat center;
}
.popup__wrapper {
  position: relative;
  padding-left: 64px;
  padding-right: 64px;
  border-radius: 8px;
  background: #FFFFFF;
}
@media all and (max-width: 767px) {
  .popup__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.popup .qr-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.popup__image img {
  width: 170px;
  height: 170px;
}
.popup .image-block {
  display: flex;
  justify-content: center;
  gap: 12px;
}
@media all and (max-width: 767px) {
  .popup .image-block {
    flex-direction: column;
    align-items: center;
  }
}
.popup .download-image img {
  width: 140px;
  height: 40px;
}

.popup-active {
  z-index: 2;
  display: block;
}

.item-link {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.item-link:hover p {
  color: var(--states-orange-hovered);
}
.item-link:hover .item-link__icon-clip {
  background: url(/image/item-link-icon-clip-active.svg) no-repeat center;
}
.item-link:hover .item-link__icon-sheet {
  background: url(/image/item-link-icon-sheet-active.svg) no-repeat center;
}
.item-link:hover .item-link__icon-download {
  background: url(/image/item-link-icon-download-active.svg) no-repeat center;
}
.item-link:hover .item-link__icon-control {
  background: url(/image/item-link-icon-control-active.svg) no-repeat center;
}
.item-link .link-orange {
  color: #FF4F12;
}
.item-link__icon-clip {
  width: 24px;
  height: 24px;
  background: url(/image/item-link-icon-clip.svg) no-repeat center;
}
.item-link__icon-sheet {
  width: 24px;
  height: 24px;
  background: url(/image/item-link-icon-sheet.svg) no-repeat center;
}
.item-link__icon-download {
  width: 24px;
  height: 24px;
  background: url(/image/item-link-icon-download.svg) no-repeat center;
}
.item-link__icon-control {
  width: 24px;
  height: 24px;
  background: url(/image/item-link-icon-control.svg) no-repeat center;
}

.block-button .button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 28px;
  border-radius: 4px;
  text-align: center;
}
@media all and (max-width: 767px) {
  .block-button .button {
    width: 100%;
  }
}
.block-button .orange {
  color: #FFFFFF;
  background: #FF4F12;
}
.block-button .orange:hover {
  background: #D33706;
}

.header {
  height: 112px;
  background: var(--object-night-white-100);
}
.header__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .header__wrapper {
    padding: 0 20px;
  }
}
@media all and (max-width: 1024px) {
  .header__wrapper {
    padding: 0 20px;
  }
}
.header__logo {
  width: 218px;
  height: 56px;
  background: url("/image/header-logo.svg") no-repeat center;
}
@media all and (max-width: 1024px) {
  .header__logo {
    width: 171.286px;
    height: 44px;
    background: url("/image/header-logo-tab.svg") no-repeat center;
  }
}
@media all and (max-width: 767px) {
  .header__logo {
    width: 140.143px;
    height: 36px;
    background: url("/image/header-logo-mob.svg") no-repeat center;
  }
}

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  background: #FFFFFF;
}
@media all and (max-width: 1024px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: unset;
  }
}

.check__data {
  display: flex;
  gap: 45px;
}
@media all and (max-width: 767px) {
  .check__data {
    justify-content: space-between;
  }
}
.check__rt-line {
  border-bottom: 2px solid rgba(16, 24, 40, 0.0784313725);
}
.check__width {
  width: 100%;
  max-width: 640px;
}
@media all and (max-width: 767px) {
  .check__width {
    max-width: unset;
  }
}

.control__block {
  display: flex;
  gap: 20px;
}
@media all and (max-width: 1024px) {
  .control__block {
    flex-direction: column;
  }
}
.control__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  flex: 1;
  padding: 32px;
  border-radius: 8px;
  background: #F8F8F8;
}
@media all and (max-width: 1024px) {
  .control__card {
    padding: 20px;
  }
}
.control__card-header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.control__icon {
  width: 56px;
  height: 56px;
}
.control__link, .control__desk {
  padding-left: 72px;
}

.faq__item {
  display: flex;
  gap: 12px;
  padding: 20px 0;
  border-bottom: 2px solid rgba(16, 24, 40, 0.0784313725);
  cursor: pointer;
}
.faq__item:nth-child(2) {
  padding-top: 0;
}
.faq__item:last-child {
  padding-bottom: 0;
  border-bottom: unset;
}
.faq__item:hover .faq__icon {
  background: url("/image/faq-icon-arrow-active.svg") no-repeat center;
}
.faq__item:hover .faq__subtitle {
  color: var(--states-orange-Pressed);
}
.faq__icon {
  width: 100%;
  max-width: 24px;
  height: 24px;
  background: url("/image/faq-icon-arrow.svg") no-repeat center;
}
.faq__description {
  max-height: 0;
  overflow: hidden;
}
.faq .faq__icon-click {
  background: url("/image/faq-icon-arrow-active-click.svg") no-repeat center !important;
}
.faq .faq__description-click {
  max-height: 100%;
  transition: 0.4s;
}
.faq .faq__subtitle-click {
  color: var(--states-orange-Pressed) !important;
}

.main-title .font-h2--position {
  text-align: center;
}

.information {
  display: flex;
  gap: 12px;
}
.information__icon {
  width: 100%;
  max-width: 24px;
  height: 24px;
  background: url(/image/information-icon.svg) no-repeat center;
}

.footer {
  background: var(--object-night-white-100);
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  height: 100%;
  max-width: 1480px;
  padding: 20px 20px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .footer__wrapper {
    padding: 20px 20px;
  }
}
@media all and (max-width: 1024px) {
  .footer__wrapper {
    align-items: flex-start;
    padding: 20px 20px;
  }
}
@media all and (max-width: 767px) {
  .footer__wrapper {
    flex-direction: column-reverse;
  }
}
.footer__info {
  width: 100%;
  max-width: 588px;
}
.footer__contacts {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  width: 100%;
}
@media all and (max-width: 1024px) {
  .footer__contacts {
    gap: 20px;
  }
}
@media all and (max-width: 767px) {
  .footer__contacts {
    flex-direction: column;
    gap: 12px;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__tel {
  font-family: "Rostelecom Basis";
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
}
@media all and (max-width: 1024px) {
  .footer__tel {
    font-size: 24px;
    line-height: 32px;
  }
}
@media all and (max-width: 767px) {
  .footer__tel {
    font-size: 22px;
    line-height: 28px;
  }
}/*# sourceMappingURL=style.css.map */